body
{
	background: #dddddd;
	width: 100%;
	height: 100%;
}
h5, h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.upside
{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-left: -18px;
    margin-top: -10px;
    height: 19px;
    background: #404059;
	padding: 6px 0 6px 40px;
	padding-top: 6px;

}
.header
{
	margin-right: -20px;
	height: 110px;	
}
.header p
{
	font-family: Impact, sans-serif;
	position: absolute;
	padding-left: 50px;
    font-size: 84px;
    margin-top: 1px;


}
.container
{
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5)
	padding-top: 20px;
	background: white;
	width: 950px;
    margin: 0 auto;
    height: 1447px;
    padding: 0 12px;
}
.container
{
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
				-23px 0 20px -23px rgba(0, 0, 0, .8),
				23px 0 20px -23px rgba(0, 0, 0, .8),
				0 0 40px rgba(0, 0, 0, .1) inset;
}
.bigNews, .forNews
{
	padding-left: 10px;
	border: 1px solid gray;
	margin-bottom: 10px;
}
.bigNews
{
    height: 440px;
}
.bigNews img
{
	width: 200px;
	height: 150px;
	float: left;
	padding-right: 10px;
    padding-bottom: 6px;
}

.bigNews p
{
 font-size: 19.3px;
}
.forNews
{
	height: 840px;
}
.block, .block2
{
	height: 300px;
	width: 48%;
	height:400px;
	float: left;
	margin-left: -8px;
	margin-top: 4px;
/*	border: 1px solid gray;*/
	padding-left: 7px;
}
.block
{
    margin-right: 24px;
    margin-bottom: 7px;
    
}
.resent
{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	position: relative;
    margin-top: 12px;
    margin-bottom: 0px;
}
.block p,.block2 p
{
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.block img, .block2 img
{
	width: 100px;
	height: 120px;
	float: left; 
	margin-right: 10px;
}
.menu
{
	width: 950px;
    margin: 0 auto;
    padding: 0 12px;
}
.menu a
{
	color:#c5d6db;
	text-decoration: none;
	font-size: 18px;
	font-family: "Arial Narrow", "Myriad Pro";
	margin-right: 20px;
}
.menu a:hover
{
	color: #ecf2f3;
}
.left
{
	width: 70%;
	float: left;


}
.right
{
	float: right;
	width: 29%;

}
.subscribe p
{
	padding: 0 7px 0 7px ;
}
.subscribe input
{
    width: 190px;
    height: 18px;
    margin-top: 2px;
    margin-bottom: -7px;
    margin-left: 5px;
}
h3
{
	font-size: 21px;
}
footer
{
	padding: 6px 40px 6px 40px;
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
	text-decoration: none;
	color: white;
	font-size: 15px;
	width: 950px;
    margin: 0 auto;
    padding: 0 12px;
}
button
{
	border: none;
	position: absolute;
    left: -3px;
    top: 3px;
    width: 90px;
    height: 29px;
    margin-left: 5px;
}
#search
{
	position: relative;
	float: right;
    margin-right: 10px;
}
#search button
{
	background-image: url('../img/search.png');
	width: 18px;
	height: 18px;
	margin-top: -2px;
	background-color: transparent;
}
#searchInput
{
	padding-left: 22px;
	margin-top: -5px;
    width: 240px;
    height: 22px;
}
.header img
{
	padding-top: 34px;
    padding-left: 10px;
}
.title
{
	background:gray;
}
#rss_lit
{
    width: 30px;
    height: 30px;
    margin-top: -10px;
	float: left;
}
#rss_big
{
    width: 61px;
    height: 61px;
    margin-top: -10px;
    float: right;
    margin-left: -20px;
}	

.popPosts, .tags, .subscribe
{
	margin-bottom: 15px;
	border: 1px solid gray;

}
.tag
{	min-height: 20px;
	border: 1px solid gray;
	margin-bottom: 10px;
}

.list, .list2
{
	width: 48%;
	text-decoration: none;
	float: right;
	border: 1px solid gray;
    margin-bottom: 10px;
}

.list a, .list2 a, .popPosts a, .tags a
{
	text-decoration: none;
}
.block button,.block2 button
{
	position: relative;
	border-radius: 10px;
}
.list
{
	margin-left: 7px;

}
ul{
	margin-top: -17px;
	list-style: none;
	padding-left: 5px;
	text-decoration-style: none;
	margin-bottom: 0;

}
ul a
{
	font-size: 13px;
	color: black;
	font-style: italic;
	font-weight: bold;
}
ul li
{
	border-bottom: 1px dotted gray;
	display: block;
	padding-left: 10px;
	padding-bottom: 3px;
}
.right h4
{
	font-size: 1em;
    text-transform: uppercase;
    background: gray;
    padding: 7px 10px;
    margin-top: 0;


}
#foot
{

	height: 60px;
	display: inline-block;
	width: 100%;
	background: #404059;
    margin-left: -8px;
    margin-top: -2px;

}
#first
{
	margin-top: -19px;
}
#last
{
	margin-bottom: -17px;
}